.about-container{
  overflow-y: scroll;
  height: 80%;
  padding: 20px;
}

.title{
  text-align: center;
}

.my-image-container{
  border-radius: 50%; 
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: relative;
}

.my-image{
  height: 150px;
  width: auto;
  position: absolute;
  border-radius: 0 0 50% 50%;
}

.name-tag {
  text-align: center;
  color: var(--primary-text-color);
}

.sub-title{
  color: var(--foreground-color);
  text-align: center;
}

.about-description {
  text-align: justify;
  color: var(--secondary-text-color);
  width: 50%;
  margin: 10px auto;
}
.about-description p{
  margin-top: 10px;
}

.skill-section {
  margin: 20px auto;
  width: 50%;
}

.skill-heading {
  text-align: left;
  color: var(--primary-text-color);
}

.skill-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.skill-item {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  border-radius: 20px;
  text-align: center;
}

.resume-button-container {
  text-align: center;
  margin-top: 20px;
}

.resume-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: var(--secondary-text-color); 
  color: var(--foreground-color); 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


/* Media query for responsive design */
@media (max-width: 600px) {
  .about-container{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .about-description {
    width: 100%;
  }

  .skill-section{
    width: 100%;
  }
  
  .skill-list {
    text-align: left;
  }
}
