.about-me-page-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 15vh;
  color: var(--primary-text-color);

  h1{
    color: var(--foreground-color);
    text-align: center;
    margin: 50px;
  }
}

.about-row{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.about-col-des{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.my-img{
  background-color: var(--image-bg);
  border-radius: 20px;
  width: 400px;
  height: auto;
}

.mindmap-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mindmap{
  width: 80%;
  margin: auto;
  border-radius: 50px;
}

.row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;

  iframe{
    width: 250px;
    height: 400px;
  }

  img{
    width: 250px;
    height: auto;
    border-radius: 50px;
  }

  h3{
    width: 40%;
  }
}

.facts ul li:nth-child(even) h3{
    order: 1;
}


@media (max-width:800px) {
  .about-row{
    flex-direction: column;
    justify-content: space-between;
  }

  .about-col-des{
    width: 90%;
    margin: auto;
    padding: 15px;
  }

  .about-col-img{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img{
    width: 250px;
    height: auto;
  }

  .mindmap{
    width: 100%;
    margin: auto;
    border-radius: 0px;
  }

  .row{
    flex-direction: column;

    h3{
      width: 80%;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .facts ul li:nth-child(even) h3{
      order: 0;
  }

  
}