.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
  
.box{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    background-color: var(--foreground-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
