footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}

.icon-section a{
    margin: 10px;
}

.copyright{
    font-size: 10px;
    color: var(--primary-text-color);
}