.desktop-nav{
  max-height: 5vh;
  width: 100%;
  position: sticky;
  top: 0;
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
}

.desktop-nav-list{
  display: inherit;
}

.desktop-nav-list li{
  padding: 10px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
}

nav ul li a:not(.active):hover{
  color: var(--foreground-color);
}

nav ul li .active{
  color: var(--foreground-color);
}
